.card {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 150px;
  height: 150px;
  background: none;
}

@media (max-width:768px) {
  .card {
    justify-content: center;
    align-items: center;
    width:100%;
    height: 30%
  }
}
