.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 18rem;
  width: 16rem;
  border-radius: 25px;
  gap: 10px;
  background: #101bb5;
  opacity: 0.8;
  background: linear-gradient(to top, #101bb5 0%, #000000 40%);
  background-size: 100% 150%;
  z-index: 1;
  animation: gradiant 15s ease infinite;
}
  

@keyframes gradiant {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.cards img {
  width: 70px;
  height: 70px;
}

.map {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
  align-items: center;
  justify-content: center;
  padding: 2rem 5rem 2rem 5rem;
}
